#artheadbar {
	text-align: center;
}

#artcollection {
	display: flex;
	align-items: center;
  	justify-content: center;
  	transition: height .5s ease-in-out;  	  
  	background-color: darkgrey;
}

.expanded {
	min-height: 1200px !important;
	z-index: 20;
	padding: 0;	
	display: block !important;
}

art-piece {
	width: 100%;
	height: 100%;
}

.artwork-container {
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artwork {
	width: auto;
	max-height: 300px;
	max-width: 250px;
	cursor: pointer;
	border: 8px solid grey;
}

.artwork-inner-container {
	position: relative;
}

#full-art-wrapper {
	text-align: center;
	width: 100%;
	height: 100%;
}

#full-art-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    /*
    Padding top to be set in js (height/width * 100)% 
    background-image to be set in js (url(link));
    */
}

.full-art-prompt {
	height: 100%;
}

.prompt-art-display {
	width: 80% !important;
	max-width: 700px;
}