#artcollection {
	display: flex;
	align-items: center;
  	justify-content: center;
  	transition: all .5s ease-in-out;
  	height: 200px;
  	min-height: 0px;
}

.expanded {
	height: 1200px !important;
	z-index: 20;
	padding: 0;	
}

.art-piece {
	width: 33%;
	box-sizing: border-box;
}