body {
	height: auto !important;
}
#navbar {
	text-align: center;
	background-color: #554b47;
	font-family: 'Poiret One', cursive;
	/*font-family: 'Farsan', cursive;*/
	/*font-family: 'Shadows Into Light', cursive;*/
	/*font-family: 'Scope One', serif;*/
	/* Favorite - Poiret One */
}

#mainfab {
	position: fixed;
	top: 18px;
	right: 30px;
}

#awardsdisplay {
	justify-content: space-around;
}

.contentarea {
	/*border-bottom: 1px solid black;*/
	padding: 20px;
	min-height: 300px;
}

.bodycontent {
	text-align: center;
}

#piccollage {
	height: 500px;
	padding: 0;
}

#about {
	text-align: center;
}

.standard-button {
	width: 200px;
	height: 80px;
}

#newspaperwrapper {
	justify-content: space-around;
}

.oddcontent {
	background-color: white;
}

.evencontent {
	background-color: lightgrey;
}

.collagecol div {
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

#mapcontainer {
	display: block;
	width: 400px;
	height: 400px;
	background-color: lightgreen;
}

.socialMediaLink > a > img {
	width: 50px;
	height: 50px;
}

.socialMediaLink {
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
}

#socialMediaList {
	padding: 0;
	margin-bottom: 0;
}

.center-children {
	align-items: center;
	display: flex;
}

.edit-button {
	display: flex; 
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.add-button {
    display: flex;
    justify-content: center;      
}

md-card {
	position: relative;
}