body {
	height: auto !important;
}
#navbar {
	text-align: center;
	background-color: #554b47;
	font-family: 'Poiret One', cursive;
	/*font-family: 'Farsan', cursive;*/
	/*font-family: 'Shadows Into Light', cursive;*/
	/*font-family: 'Scope One', serif;*/


	/* Favorite - Poiret One */
}

#mainfab {
	position: fixed;
	top: 18px;
	right: 30px;
}

#awardsdisplay {
	justify-content: space-around;
}

.contentarea {
	/*border-bottom: 1px solid black;*/
	padding: 20px;
	min-height: 300px;
}

.bodycontent {
	text-align: center;
}

#piccollage {
	height: 500px;
	padding: 0;
}

#about {
	text-align: center;
}

.smallpic {	
/*	width: 10%;
	height: 50%;*/
}

.largepic {
	/*width: 30%;
	height: 100%;*/
}

.standard-button {
	width: 200px;
	height: 80px;
}

#newspaperwrapper {
	justify-content: space-around;
}

.oddcontent {
	background-color: white;
}

.evencontent {
	background-color: lightgrey;
}

.collagecol div {
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

#contact > div {
	justify-content: space-around;	
}

#mapcontainer {
	display: block;
	width: 400px;
	height: 400px;
	background-color: lightgreen;
}

.socialMediaLink > a > img {
	width: 50px;
	height: 50px;
}

.socialMediaLink {
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
}

#socialMediaList {
	padding: 0;
}

#connect-info {
	/*justify-content: center;*/
	margin-right: 50px;
	margin-left: 50px;	    
}

#connect-card {
	/*display: flex;
    align-items: center;
    justify-content: center;*/
}

.center-children {
	align-items: center;
	/*justify-content: center;*/
	display: flex;
}

#contact-card-wrap {
	padding: 20px;
	box-sizing: border-box;
}