#prompt-card {
	width: 400px;
	height: 552px;
}

#prompt-content > md-input-container {
	width: 100%;
}

#prompt-button-container {
	width: 50%;
}

.md-panel {
	width: 90%;
	height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-panel._md-opaque-enter {
	opacity: .9;
}