.prompt-card {
	width: 400px;
}

#prompt-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prompt-content > md-input-container {
	width: 100%;
}

#prompt-button-container {
	width: 50%;
}

.md-panel {
	width: 90%;
	height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-panel._md-opaque-enter {
	opacity: .9;
}

md-input-container > textarea {
	max-height: 300px;
	overflow-y: auto;
}