<md-card id="prompt-card">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div ng-show="!backendAdd">Edit {{ servicebackend }}</div>
			<div ng-show="backendAdd">Add {{ servicebackend }}</div>
		</div>
	</md-toolbar>	
	<md-card-content id="prompt-content">
		<md-input-container>
	        <label>Title</label>
	        <input ng-model="promptData.title">
      	</md-input-container>	
      	<md-input-container>
	        <label>Description</label>
	        <textarea ng-model="promptData.description" rows="3" md-select-on-focus></textarea>
      	</md-input-container>  
      	<img ngf-thumbnail="file" style="width:100px;"> 
      	<md-input-container class="align-center" flex>
      		<div id="prompt-button-container" layout="column"> 
      			<input id="fileUpload" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" hide>
		      	<md-button ng-click="setFile()" class="md-raised">Upload Image</md-button>	
		      	<md-button ng-click="displayFileInfo()" class="md-raised">Display Info</md-button>		
		      	<md-button ng-click="deleteElement()" class="md-raised md-warn">DeleteItem</md-button>
		      	<md-button ng-click="makeBackendRequest()" class="md-raised">Save Changes</md-button>
      		</div>	      	
      	</md-input-container>      		
	</md-card-content>
</md-card>