<md-card class="prompt-card">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div>Upload File</div>
		</div>
	</md-toolbar>	
	<md-card-content id="prompt-content">
      	<img ngf-thumbnail="file" style="width:100px;"> 
      	<md-input-container class="align-center" flex>
      		<div id="prompt-button-container" layout="column"> 
      			<input id="fileUpload" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" hide>
		      	<md-button ng-click="setFile()" class="md-raised">Choose Image</md-button>
		      	<md-button ng-click="makeBackendRequest()" class="md-raised">Save Changes</md-button>
      		</div>	      	
      	</md-input-container>      		
	</md-card-content>
</md-card>