<md-content id="contact" class="contentarea evencontent" flex>	
	<div class="bodycontent" flex layout="row">
		<div id="contact-card-wrap" class="center-children">
			<md-card id="connect-card">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Connect with Me</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<div layout="column" id="connect-info">	
						<div id="connect-details">
							<div>{{ contact.email }}</div>
							<div>{{ contact.location }} </div>	
						</div>				
						<div layout="row">
							<ul layout="row" id="socialMediaList">
								<li class="socialMediaLink">
									<a href="{{ contact.socialFacebook }}">
										<img src="app/images/socialmedia/facebook.png">
									</a>
								</li>
								<li class="socialMediaLink">
									<a href="{{ contact.socialYouTube }}">
										<img src="app/images/socialmedia/youtube.png">
									</a>
								</li>
								<li class="socialMediaLink">
									<a href="{{ contact.socialLinkedIn }}">
										<img src="app/images/socialmedia/linkedin.png">
									</a>
								</li>
								<li class="socialMediaLink">
									<a href="{{ contact.socialTwitter }}">
										<img src="app/images/socialmedia/twitter.png">
									</a>
								</li>						
							</ul>
						</div>
					</div>
				</md-card-content>
			</md-card>
		</div>						
	</div>
</md-content>